[submodule "LD32"]
	path = LD32
	url = https://github.com/Kimau/LD32
[submodule "LD32_Warm"]
	path = LD32_Warm
	url = https://github.com/Kimau/LD32_Warm
[submodule "LD33"]
	path = LD33
	url = https://github.com/kimau/LD33
[submodule "LD34"]
	path = LD34
	url = https://github.com/kimau/LD34
[submodule "LD38"]
	path = LD38
	url = https://github.com/kimau/LD38
[submodule "LD40"]
	path = LD40
	url = https://github.com/kimau/LD40