body
{
  background: #111;
  color: #EEE;
  position: relative;
  margin: 0px;
  width: 800px;
  overflow: hidden;
}
   
header,
div,
canvas
{ 
  position: relative; 
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2,
h3
{
  text-align: center;
  padding: 0px;
  margin: 0px;
}

header {
  display:block;
  width:100%; 
  position: relative;
  height: 64px;
}
 
header > span
{ 
  background: #DDD;
  color: #111;
  padding: 4px;
  margin: 3px;
  border: 2px solid #777;
  border-radius: 10px;
}

dt, dd {
    display: inline-block;
    width: 40%;
}

dt { text-align: right; }
dd { text-align: left; }

#gameResources 
{ 
  display: none; 
  background: #000;
  position: absolute;
  left: 33%;
  width: 33%;
}

#gameResources img { max-width: 128px; max-height: 128px; }

#debugLog 
{ 
  display: none;
  white-space: pre-line; 
  position: absolute;
  width: 30%;
  left: 0px;
}

#liveOutput 
{ 
  display: none; 
  position: absolute;
  right: 0px;
  width: 30%;
}

#liveOutput dt { display: inline-block; color: #DDD; width: 29%; margin: 0px; overflow: hidden; }
#liveOutput dd { display: inline-block; color: #EEE; width: 69%; margin: 0px; overflow: hidden; }
#liveOutput dt:nth-child(4n-1) { background: #222; }
#liveOutput dd:nth-child(4n) { background: #222; }

.hover { position: relative; }
.hover em, .hover b { position: absolute; left: 0px; width: 100%; }
.hover em { visibility: hidden;  }
.hover b  { visibility: visible; }
.hover:hover em { visibility: visible; }
.hover:hover b  { visibility: hidden; }

#gameBox 
{
  display: block;
  width: 800px;
  height:600px;
  position: relative;
  margin: auto;
  background: #444;
}

#canvas
{
  width: 800px;
  height: 600px; 
}
